/* Week.css */
.table {
  display: block;
  width: 100%;
  height: 70vh;
  border-collapse: collapse;
  overflow-y: auto;
  overflow-x: hidden;

  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.day-header,
.hour-header {
  background-color: #f0f0f0;
  text-align: center;
  border: 1px solid #ccc;
  border-bottom: none;
}

.hour-header,
.hour {
  width: 30px;
  height: 30px;
  padding: 10px;
  border: none;
}

.hour {
  text-align: center;
  background-color: #f0f0f0;
}

.hour-cell {
  padding: 10px;
  height: 100%;
}

.hour-cell:hover {
  background-color: #ccc;
  cursor: pointer;
}

/* Conteneur du fond flouté */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Couleur de fond semi-transparent */
  backdrop-filter: blur(5px); /* Effet de flou */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Conteneur de la modale */
.modal-content {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease-in-out;
  position: relative;
}

/* Animation d'apparition */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Bouton pour fermer */
.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #555;
  transition: color 0.2s ease-in-out;
}

.modal-close-btn:hover {
  color: #000;
}

tbody {
  display: block;
  height: calc(70vh - 52px);
  overflow-y: auto;
}

tr {
  display: table;
  table-layout: fixed;
  width: 100%;
  border-bottom: 1px solid #ccc;
}
