/* Week.css */
.table {
  display: block;
  width: 100%;
  height: 70vh;
  border-collapse: collapse;
  overflow-y: auto;
  overflow-x: hidden;

  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.day-header,
.hour-header {
  background-color: #f0f0f0;
  text-align: center;
  border: 1px solid #ccc;
  border-bottom: none;
}

.hour-header,
.hour {
  width: 30px;
  height: 30px;
  padding: 10px;
  border: none;
}

.hour {
  text-align: center;
  background-color: #f0f0f0;
}

.hour-cell {
  padding: 10px;
  height: 100%;
}

.hour-cell:hover {
  background-color: #ccc;
  cursor: pointer;
}


tbody {
  display: block;
  height: calc(70vh - 52px);
  overflow-y: auto;
}

tr {
  display: table;
  table-layout: fixed;
  width: 100%;
  border-bottom: 1px solid #ccc;
}
