/* Day.css */
.day-table {
  width: 100%;
  height: 70vh;
  border-collapse: collapse;
  overflow-y: auto;
}

.day-header,
.hour-header {
  background-color: #f0f0f0;
  text-align: center;
  border: 1px solid #ccc;
  border-bottom: none;
}

.hour-header,
.hour {
  width: 30px;
  padding: 10px;
  border: none;
}

.hour {
  text-align: center;
  background-color: #f0f0f0;
}

.event-cell {
  padding: 10px;
  border: none;
  height: 100%;
}

.event {
  background-color: #e0f7fa;
  margin: 2px 0;
  padding: 5px;
  border-radius: 3px;
}

tbody {
  display: block;
  height: calc(70vh - 40px);
  overflow-y: auto;
}

tr {
  display: table;
  table-layout: fixed;
  width: 100%;
  border-bottom: 1px solid #ccc;
}
